/*Navbar*/
.dropdown-item:hover{
    background-color: #6c757d;
    color: #fff;
}

.nav_right_icons a i{
    font-size: 18px;
    color: rgba(0,0,0,.5);
}

.nav_right_icons a i:hover{
    color: rgba(0,0,0);
}

/*Carousel*/
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item{
    -webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.carousel-caption h2, .carousel-caption a{
    text-shadow: 1px 1px #000;
}

.carousel-caption a:hover{
    color: #000 !important;
    text-shadow: none;
}

@media (max-width: 768px){
    .carousel-caption{
        display: block !important;
    }
    .carousel-caption h2{
        font-size: 1rem;
    }
    .carousel-caption a{
        font-size: 10px;
        padding: 2px 5px !important;
    }
}

/*Step list*/

.steps-list li i{
    float: right;
    padding-left: 5px;
}

ol.steps-list > li::before, ol.steps-list > li {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

ol.steps-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 0 20%;
    padding-left: 1rem;
}
ol.steps-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.steps-list > li::before, ol.steps-list > li::after {
    background: #6c757d;
    border-radius: 1rem 1rem 0 1rem;
    content: "";
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.steps-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #fff;
    display: flex;
    font: 900 1.5em/1 "Montserrat";
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}

ol.steps-list > li + li {
    margin-top: 2rem;
}

@media (max-width: 1020px) {
    ol.steps-list {
        margin: 0 5%;
    }
}

@media (max-width: 650px) {
    ol.steps-list li i{
        display: none;
    }
}

/*Top Advertisement*/
.top-ad{
    background-color: #000;
}

@media (max-width: 670px){
    .top-ad{
        display: none;
    }
}

/*Accordion*/

.accordion{
    margin: 0 10%;
}

.accordion .card .card-header button{
    text-decoration: none;
}

/*Cards*/
.card, .card a{
    margin-top: 10px;
}

/*Alert*/
.alert{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    z-index: 99;
}

/*Buttons*/
.btn-outline-primary{
    color: #007bff !important;
}

.btn-outline-primary:hover{
    color: #fff !important;
}

/*Google maps -- Contact us*/
#map{
    width: 100%;
    height: 80vh;
}

/*Contact form*/
.contact_form{
    background-color: rgba(0,0,0,.05);
    max-width: 600px !important;
}

/*Timeline - about us*/
.timeline-container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
    font-size: 1rem;
}
.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
}
.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}
.timeline-item:last-child {
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

/*Revieve carousel - About Us*/
#about_us_carousel .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%200' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

#about_us_carousel .carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%200' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*nav - faq*/
.faq-nav a{
    color: #000;
}

.faq-nav .active{
    background-color: #6c757d !important;
}

/*accordion - faq*/
.faq-accordion .card .card-header button{
    color: #000;
}

/*categories container - faq*/
@media (max-width: 767px) {
    .faq-categories-cont, .profile-categories-cont{
        border: none !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}

/*cart*/
small, .small-text{
    font-size: 10px;
}

.cart-delete-btn{
    cursor: pointer;
}

/*Individual porducts pages*/
.product-logo{
    width: 150px;
    height: auto;
}

.product-colors-thumbnail{
    width: 100px;
    cursor: pointer;
}

.product-gallery img{
    cursor: pointer;
}

.gallery_img{
    -webkit-transition: transform .11s;
    -moz-transition: transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
}

.gallery_img:hover{
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    cursor: pointer;
}

.custom_modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.7);
}

.custom_modal_img{
    width: auto;
    max-width: 70%;
    height: auto;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
}

.custom_modal_slide{
    display: none;
}

.modal_prev, .modal_next, .modal_close{
    font-size: 40px;
    color: #fff !important;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    transition: background-color 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal_prev:hover, .modal_next:hover, .modal_close:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
}

.modal_prev{
    left: 100px;
}

.modal_next{
    right: 40px;
}

.modal_close{
    border-radius: 0;
    top: 25px;
    right: -32px;
}

.product-add-btn{
    background-color: #000 !important;
}

.product-add-btn:hover{
    background-color: rgba(0, 0, 0, .9) !important;
}

.product-wishlist a i{
    font-size: 35px;
    cursor: pointer;
}

.product-select{
    max-width: 100px;
}

/*Btn no-wrap fix*/
.btn{
    white-space: normal;
}

/*orders table responsive - profile*/
.faq-table-mobile{
    display: none;
}

@media (max-width: 765px) {
    .faq-table-desktop{
        display: none;
    }
    .faq-table-mobile{
        display: block;
    }
}